<%- include('../partials/header') %>

<div class="indexContent">
    <table>
      <thead>
        <tr class="tableheadings">
          <th style=" width: 10%; padding: 0 10px 0 10px;">Product Name</th>
          <th style=" padding: 0 10px 0 10px;">Detail</th>
          <th style=" width: 10% ; padding: 0 5px 0 20px;">Price</th>
          
        </tr>
      </thead>
      <tbody>
        <!-- Write the line of EJS to iterate over movies using forEach -->
        <% pastries.forEach(function(p){ %>
            <tr class="tablecontent">
            <td style=" width: 10%; height: 35px; padding: 0 10px 0 10px;"><a href="/pastries/<%=p._id %>"><%= p.title %></a></td>
            
            <td style=" padding: 0 10px 0 10px;" ><%= p.detail %></td>
            <td style=" width: 10% ; padding: 0 5px 0 20px;">$<%= p.price %></td>
           
          <% }) %>
        <!-- Close the forEach using EJS here -->
      </tbody>
    </table>
</div>

    <%- include('../partials/footer') %>
